-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: turismo404
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividad` (
  `idCategorias` int NOT NULL,
  `idDestino` int NOT NULL,
  `idLugar` int DEFAULT NULL,
  `nombre` longtext,
  `Hora_ini` time DEFAULT NULL,
  `Hora_fin` time DEFAULT NULL,
  `costo` decimal(10,0) DEFAULT NULL,
  PRIMARY KEY (`idCategorias`,`idDestino`),
  KEY `idDestino_idx` (`idDestino`),
  CONSTRAINT `idCategorias2` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idDestino` FOREIGN KEY (`idDestino`) REFERENCES `destino` (`idDestino`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alojamiento`
--

DROP TABLE IF EXISTS `alojamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alojamiento` (
  `idAlojamiento` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  PRIMARY KEY (`idAlojamiento`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `idCategorias` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(90) DEFAULT NULL,
  `Imagen` longtext,
  PRIMARY KEY (`idCategorias`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `destino`
--

DROP TABLE IF EXISTS `destino`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `destino` (
  `idDestino` int NOT NULL AUTO_INCREMENT,
  `idItinerario` int NOT NULL,
  `idLugarDestino` longtext,
  PRIMARY KEY (`idDestino`),
  KEY `idItinerario_idx` (`idItinerario`),
  CONSTRAINT `idItinerario` FOREIGN KEY (`idItinerario`) REFERENCES `itinerario` (`idItinerario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `establecimientoscomida`
--

DROP TABLE IF EXISTS `establecimientoscomida`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `establecimientoscomida` (
  `idEstablecimiento` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  PRIMARY KEY (`idEstablecimiento`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `favoritos`
--

DROP TABLE IF EXISTS `favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favoritos` (
  `idFavoritos` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `idLugar` int DEFAULT NULL,
  PRIMARY KEY (`idFavoritos`),
  KEY `idUsuario_idx` (`idUsuario`),
  CONSTRAINT `idUsuario3` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fechasdestinos`
--

DROP TABLE IF EXISTS `fechasdestinos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fechasdestinos` (
  `IdFechaDestino` int NOT NULL AUTO_INCREMENT,
  `IdFormulario` int NOT NULL,
  `IdLugarDestino` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Fecha` date DEFAULT NULL,
  `LatDestino` varchar(50) DEFAULT NULL,
  `LongDestino` varchar(50) DEFAULT NULL,
  `Nombre` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`IdFechaDestino`),
  KEY `IdFormulario` (`IdFormulario`),
  CONSTRAINT `fechasdestinos_ibfk_1` FOREIGN KEY (`IdFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `formulario`
--

DROP TABLE IF EXISTS `formulario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formulario` (
  `idFormulario` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `NoViajeros` int DEFAULT NULL,
  `IdLugarOrigen` longtext,
  `IdLugarDestino` longtext,
  `CoordOrigen` longtext,
  `CoordDestino` longtext,
  `presupuesto` decimal(10,2) DEFAULT NULL,
  `FechaFin` date DEFAULT NULL,
  `FechaIni` date DEFAULT NULL,
  `prioridadTranporte` int DEFAULT NULL,
  `presupuestoTranporte` decimal(10,2) DEFAULT NULL,
  `tipoTransporte` varchar(32) DEFAULT NULL,
  `tipoCarretera` varchar(32) DEFAULT NULL,
  `prioridadHospedaje` int DEFAULT NULL,
  `presupuestoHospedaje` decimal(10,2) DEFAULT NULL,
  `distanciaHospedaje` decimal(10,2) DEFAULT NULL,
  `prioridadComida` int DEFAULT NULL,
  `presupuestoComida` decimal(10,2) DEFAULT NULL,
  `prioridadActividades` int DEFAULT NULL,
  `presupuestoActividades` decimal(10,2) DEFAULT NULL,
  `preferenciaDistancia` int DEFAULT NULL,
  `parametroActividades` int DEFAULT NULL,
  `distanciaComida` float DEFAULT NULL,
  PRIMARY KEY (`idFormulario`),
  KEY `idUsuario_idx` (`idUsuario`),
  CONSTRAINT `idUsuario` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `historial`
--

DROP TABLE IF EXISTS `historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial` (
  `idUsuario` int NOT NULL,
  `idFormulario` int NOT NULL,
  PRIMARY KEY (`idUsuario`,`idFormulario`),
  KEY `idFormulario_idx` (`idFormulario`),
  CONSTRAINT `idFormulario` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idUsuario2` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `itinerario`
--

DROP TABLE IF EXISTS `itinerario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itinerario` (
  `idItinerario` int NOT NULL AUTO_INCREMENT,
  `idFormulario` int NOT NULL,
  `fecha` date DEFAULT NULL,
  PRIMARY KEY (`idItinerario`),
  KEY `idFormulario_idx` (`idFormulario`),
  CONSTRAINT `idFormulario2` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `precioactividades`
--

DROP TABLE IF EXISTS `precioactividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `precioactividades` (
  `idprecioActividades` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  `identificador` varchar(100) NOT NULL,
  PRIMARY KEY (`idprecioActividades`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `preferenciaalojamiento`
--

DROP TABLE IF EXISTS `preferenciaalojamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciaalojamiento` (
  `idFormulario` int NOT NULL,
  `idAlojamiento` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idAlojamiento`),
  KEY `idAlojamiento` (`idAlojamiento`),
  CONSTRAINT `preferenciaalojamiento_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciaalojamiento_ibfk_2` FOREIGN KEY (`idAlojamiento`) REFERENCES `alojamiento` (`idAlojamiento`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `preferenciacomida`
--

DROP TABLE IF EXISTS `preferenciacomida`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciacomida` (
  `idFormulario` int NOT NULL,
  `idEstablecimiento` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idEstablecimiento`),
  KEY `idEstablecimiento` (`idEstablecimiento`),
  CONSTRAINT `preferenciacomida_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciacomida_ibfk_2` FOREIGN KEY (`idEstablecimiento`) REFERENCES `establecimientoscomida` (`idEstablecimiento`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `preferenciaprecioactividades`
--

DROP TABLE IF EXISTS `preferenciaprecioactividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciaprecioactividades` (
  `idFormulario` int NOT NULL,
  `idprecioActividades` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idprecioActividades`),
  KEY `idprecioActividades` (`idprecioActividades`),
  CONSTRAINT `preferenciaprecioactividades_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciaprecioactividades_ibfk_2` FOREIGN KEY (`idprecioActividades`) REFERENCES `precioactividades` (`idprecioActividades`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `preferencias`
--

DROP TABLE IF EXISTS `preferencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferencias` (
  `idUsuario` int NOT NULL,
  `idCategorias` int NOT NULL,
  PRIMARY KEY (`idUsuario`,`idCategorias`),
  KEY `idUsuario_idx` (`idUsuario`),
  KEY `idCategorias_idx` (`idCategorias`),
  CONSTRAINT `idCategorias` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idUsuario4` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `preferenciascategoriasformulario`
--

DROP TABLE IF EXISTS `preferenciascategoriasformulario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciascategoriasformulario` (
  `idFormulario` int NOT NULL,
  `idUsuario` int NOT NULL,
  `idCategorias` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idUsuario`,`idCategorias`),
  KEY `idUsuario` (`idUsuario`),
  KEY `idCategorias` (`idCategorias`),
  CONSTRAINT `preferenciascategoriasformulario_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciascategoriasformulario_ibfk_2` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciascategoriasformulario_ibfk_3` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `preferenciassubcategorias`
--

DROP TABLE IF EXISTS `preferenciassubcategorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciassubcategorias` (
  `idUsuario` int NOT NULL,
  `idSubCategoria` int NOT NULL,
  PRIMARY KEY (`idUsuario`,`idSubCategoria`),
  KEY `idSubCategoria` (`idSubCategoria`),
  CONSTRAINT `preferenciassubcategorias_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciassubcategorias_ibfk_2` FOREIGN KEY (`idSubCategoria`) REFERENCES `subcategorias` (`idSubCategoria`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `preferenciassubcategoriasformulario`
--

DROP TABLE IF EXISTS `preferenciassubcategoriasformulario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciassubcategoriasformulario` (
  `idFormulario` int NOT NULL,
  `idUsuario` int NOT NULL,
  `idSubCategoria` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idUsuario`,`idSubCategoria`),
  KEY `idUsuario` (`idUsuario`),
  KEY `idSubCategoria` (`idSubCategoria`),
  CONSTRAINT `preferenciassubcategoriasformulario_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciassubcategoriasformulario_ibfk_2` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciassubcategoriasformulario_ibfk_3` FOREIGN KEY (`idSubCategoria`) REFERENCES `subcategorias` (`idSubCategoria`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subcategorias`
--

DROP TABLE IF EXISTS `subcategorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subcategorias` (
  `idSubCategoria` int NOT NULL AUTO_INCREMENT,
  `idCategorias` int NOT NULL,
  `nombre` text,
  `idValor` text,
  PRIMARY KEY (`idSubCategoria`,`idCategorias`),
  KEY `idCategorias` (`idCategorias`),
  CONSTRAINT `subcategorias_ibfk_1` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  `Apellidos` varchar(50) NOT NULL,
  `NumCel` varchar(10) NOT NULL,
  `Pais` varchar(30) NOT NULL,
  `Biografia` longtext NOT NULL,
  `Nacimiento` date NOT NULL,
  `IMAGEN` text,
  `Genero` varchar(20) NOT NULL,
  `email` text NOT NULL,
  `password` text NOT NULL,
  `fec_creac` datetime DEFAULT NULL,
  `token` varchar(32) DEFAULT NULL,
  `verificado` tinyint(1) DEFAULT NULL,
  `token_password` varchar(32) DEFAULT NULL,
  `fec_creac_password` datetime DEFAULT NULL,
  `token_password_expiracion` datetime DEFAULT NULL,
  `token_verificacion_exp` datetime DEFAULT NULL,
  `preferencias` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-12-09  9:50:11
