-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: turismo404
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividad` (
  `idCategorias` int NOT NULL,
  `idDestino` int NOT NULL,
  `idLugar` int DEFAULT NULL,
  `nombre` longtext,
  `Hora_ini` time DEFAULT NULL,
  `Hora_fin` time DEFAULT NULL,
  `costo` decimal(10,0) DEFAULT NULL,
  PRIMARY KEY (`idCategorias`,`idDestino`),
  KEY `idDestino_idx` (`idDestino`),
  CONSTRAINT `idCategorias2` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idDestino` FOREIGN KEY (`idDestino`) REFERENCES `destino` (`idDestino`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad`
--

LOCK TABLES `actividad` WRITE;
/*!40000 ALTER TABLE `actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alojamiento`
--

DROP TABLE IF EXISTS `alojamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alojamiento` (
  `idAlojamiento` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  PRIMARY KEY (`idAlojamiento`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alojamiento`
--

LOCK TABLES `alojamiento` WRITE;
/*!40000 ALTER TABLE `alojamiento` DISABLE KEYS */;
INSERT INTO `alojamiento` VALUES (1,'Hotel'),(2,'Hostal'),(3,'Airbnb'),(4,'Casa de huespedes');
/*!40000 ALTER TABLE `alojamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `idCategorias` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(90) DEFAULT NULL,
  `Imagen` longtext,
  PRIMARY KEY (`idCategorias`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `destino`
--

DROP TABLE IF EXISTS `destino`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `destino` (
  `idDestino` int NOT NULL AUTO_INCREMENT,
  `idItinerario` int NOT NULL,
  `idLugarDestino` longtext,
  PRIMARY KEY (`idDestino`),
  KEY `idItinerario_idx` (`idItinerario`),
  CONSTRAINT `idItinerario` FOREIGN KEY (`idItinerario`) REFERENCES `itinerario` (`idItinerario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `destino`
--

LOCK TABLES `destino` WRITE;
/*!40000 ALTER TABLE `destino` DISABLE KEYS */;
/*!40000 ALTER TABLE `destino` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `establecimientoscomida`
--

DROP TABLE IF EXISTS `establecimientoscomida`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `establecimientoscomida` (
  `idEstablecimiento` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  PRIMARY KEY (`idEstablecimiento`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `establecimientoscomida`
--

LOCK TABLES `establecimientoscomida` WRITE;
/*!40000 ALTER TABLE `establecimientoscomida` DISABLE KEYS */;
INSERT INTO `establecimientoscomida` VALUES (1,'Restaurante'),(2,'Cocina econ├│mica'),(3,'Cadenas comerciales'),(4,'Comida tradicional'),(5,'Vegan_restaurant');
/*!40000 ALTER TABLE `establecimientoscomida` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favoritos`
--

DROP TABLE IF EXISTS `favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favoritos` (
  `idFavoritos` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `idLugar` int DEFAULT NULL,
  PRIMARY KEY (`idFavoritos`),
  KEY `idUsuario_idx` (`idUsuario`),
  CONSTRAINT `idUsuario3` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favoritos`
--

LOCK TABLES `favoritos` WRITE;
/*!40000 ALTER TABLE `favoritos` DISABLE KEYS */;
/*!40000 ALTER TABLE `favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fechasdestinos`
--

DROP TABLE IF EXISTS `fechasdestinos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fechasdestinos` (
  `IdFechaDestino` int NOT NULL AUTO_INCREMENT,
  `IdFormulario` int NOT NULL,
  `IdLugarDestino` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Fecha` date DEFAULT NULL,
  `LatDestino` varchar(50) DEFAULT NULL,
  `LongDestino` varchar(50) DEFAULT NULL,
  `Nombre` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`IdFechaDestino`),
  KEY `IdFormulario` (`IdFormulario`),
  CONSTRAINT `fechasdestinos_ibfk_1` FOREIGN KEY (`IdFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fechasdestinos`
--

LOCK TABLES `fechasdestinos` WRITE;
/*!40000 ALTER TABLE `fechasdestinos` DISABLE KEYS */;
/*!40000 ALTER TABLE `fechasdestinos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formulario`
--

DROP TABLE IF EXISTS `formulario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formulario` (
  `idFormulario` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `NoViajeros` int DEFAULT NULL,
  `IdLugarOrigen` longtext,
  `IdLugarDestino` longtext,
  `CoordOrigen` longtext,
  `CoordDestino` longtext,
  `presupuesto` decimal(10,2) DEFAULT NULL,
  `FechaFin` date DEFAULT NULL,
  `FechaIni` date DEFAULT NULL,
  `prioridadTranporte` int DEFAULT NULL,
  `presupuestoTranporte` decimal(10,2) DEFAULT NULL,
  `tipoTransporte` varchar(32) DEFAULT NULL,
  `tipoCarretera` varchar(32) DEFAULT NULL,
  `prioridadHospedaje` int DEFAULT NULL,
  `presupuestoHospedaje` decimal(10,2) DEFAULT NULL,
  `distanciaHospedaje` decimal(10,2) DEFAULT NULL,
  `prioridadComida` int DEFAULT NULL,
  `presupuestoComida` decimal(10,2) DEFAULT NULL,
  `prioridadActividades` int DEFAULT NULL,
  `presupuestoActividades` decimal(10,2) DEFAULT NULL,
  `preferenciaDistancia` int DEFAULT NULL,
  `parametroActividades` int DEFAULT NULL,
  `distanciaComida` float DEFAULT NULL,
  PRIMARY KEY (`idFormulario`),
  KEY `idUsuario_idx` (`idUsuario`),
  CONSTRAINT `idUsuario` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formulario`
--

LOCK TABLES `formulario` WRITE;
/*!40000 ALTER TABLE `formulario` DISABLE KEYS */;
/*!40000 ALTER TABLE `formulario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial`
--

DROP TABLE IF EXISTS `historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial` (
  `idUsuario` int NOT NULL,
  `idFormulario` int NOT NULL,
  PRIMARY KEY (`idUsuario`,`idFormulario`),
  KEY `idFormulario_idx` (`idFormulario`),
  CONSTRAINT `idFormulario` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idUsuario2` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial`
--

LOCK TABLES `historial` WRITE;
/*!40000 ALTER TABLE `historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itinerario`
--

DROP TABLE IF EXISTS `itinerario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itinerario` (
  `idItinerario` int NOT NULL AUTO_INCREMENT,
  `idFormulario` int NOT NULL,
  `fecha` date DEFAULT NULL,
  PRIMARY KEY (`idItinerario`),
  KEY `idFormulario_idx` (`idFormulario`),
  CONSTRAINT `idFormulario2` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itinerario`
--

LOCK TABLES `itinerario` WRITE;
/*!40000 ALTER TABLE `itinerario` DISABLE KEYS */;
/*!40000 ALTER TABLE `itinerario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `precioactividades`
--

DROP TABLE IF EXISTS `precioactividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `precioactividades` (
  `idprecioActividades` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  `identificador` varchar(100) NOT NULL,
  PRIMARY KEY (`idprecioActividades`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `precioactividades`
--

LOCK TABLES `precioactividades` WRITE;
/*!40000 ALTER TABLE `precioactividades` DISABLE KEYS */;
INSERT INTO `precioactividades` VALUES (1,'Gratuito','PRICE_LEVEL_FREE'),(2,'Economico','PRICE_LEVEL_INEXPENSIVE'),(3,'Moderado','PRICE_LEVEL_MODERATE'),(4,'Costoso','PRICE_LEVEL_EXPENSIVE'),(5,'Muy costoso','PRICE_LEVEL_VERY_EXPENSIVE');
/*!40000 ALTER TABLE `precioactividades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferenciaalojamiento`
--

DROP TABLE IF EXISTS `preferenciaalojamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciaalojamiento` (
  `idFormulario` int NOT NULL,
  `idAlojamiento` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idAlojamiento`),
  KEY `idAlojamiento` (`idAlojamiento`),
  CONSTRAINT `preferenciaalojamiento_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciaalojamiento_ibfk_2` FOREIGN KEY (`idAlojamiento`) REFERENCES `alojamiento` (`idAlojamiento`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferenciaalojamiento`
--

LOCK TABLES `preferenciaalojamiento` WRITE;
/*!40000 ALTER TABLE `preferenciaalojamiento` DISABLE KEYS */;
INSERT INTO `preferenciaalojamiento` VALUES (1,1),(40,1),(68,1),(69,1),(72,1),(73,1),(76,1),(77,1),(78,1),(80,1),(81,1),(1,2),(40,2),(68,2),(69,2),(72,2),(73,2),(74,2),(76,2),(77,2),(78,2),(79,2),(80,2),(81,2),(1,3),(40,3),(68,3),(69,3),(72,3),(77,3),(79,3),(75,4),(77,4),(78,4),(79,4),(80,4),(81,4);
/*!40000 ALTER TABLE `preferenciaalojamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferenciacomida`
--

DROP TABLE IF EXISTS `preferenciacomida`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciacomida` (
  `idFormulario` int NOT NULL,
  `idEstablecimiento` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idEstablecimiento`),
  KEY `idEstablecimiento` (`idEstablecimiento`),
  CONSTRAINT `preferenciacomida_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciacomida_ibfk_2` FOREIGN KEY (`idEstablecimiento`) REFERENCES `establecimientoscomida` (`idEstablecimiento`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferenciacomida`
--

LOCK TABLES `preferenciacomida` WRITE;
/*!40000 ALTER TABLE `preferenciacomida` DISABLE KEYS */;
INSERT INTO `preferenciacomida` VALUES (1,1),(40,1),(69,1),(70,1),(71,1),(72,1),(73,1),(77,1),(78,1),(79,1),(80,1),(81,1),(82,1),(84,1),(85,1),(86,1),(98,1),(1,2),(40,2),(69,2),(70,2),(71,2),(72,2),(73,2),(76,2),(79,2),(80,2),(81,2),(82,2),(84,2),(85,2),(86,2),(1,3),(69,3),(73,3),(76,3),(77,3),(78,3),(79,3),(80,3),(81,3),(85,3),(86,3),(98,3),(40,4),(69,4),(70,4),(72,4),(74,4),(76,4),(77,4),(78,4),(79,4),(80,4),(81,4),(82,4),(84,4),(85,4),(71,5),(73,5),(75,5),(77,5),(86,5);
/*!40000 ALTER TABLE `preferenciacomida` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferenciaprecioactividades`
--

DROP TABLE IF EXISTS `preferenciaprecioactividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciaprecioactividades` (
  `idFormulario` int NOT NULL,
  `idprecioActividades` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idprecioActividades`),
  KEY `idprecioActividades` (`idprecioActividades`),
  CONSTRAINT `preferenciaprecioactividades_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciaprecioactividades_ibfk_2` FOREIGN KEY (`idprecioActividades`) REFERENCES `precioactividades` (`idprecioActividades`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferenciaprecioactividades`
--

LOCK TABLES `preferenciaprecioactividades` WRITE;
/*!40000 ALTER TABLE `preferenciaprecioactividades` DISABLE KEYS */;
INSERT INTO `preferenciaprecioactividades` VALUES (38,1),(39,1),(40,1),(42,1),(43,1),(44,1),(45,1),(46,1),(47,1),(48,1),(49,1),(50,1),(51,1),(52,1),(53,1),(55,1),(56,1),(57,1),(58,1),(59,1),(82,1),(83,1),(84,1),(86,1),(98,1),(38,2),(39,2),(40,2),(42,2),(43,2),(44,2),(45,2),(46,2),(47,2),(48,2),(49,2),(51,2),(52,2),(53,2),(57,2),(58,2),(59,2),(82,2),(83,2),(84,2),(86,2),(98,2),(38,3),(39,3),(40,3),(42,3),(45,3),(47,3),(48,3),(49,3),(51,3),(52,3),(53,3),(57,3),(58,3),(86,3),(43,4),(44,4),(51,4),(59,4),(82,4),(83,4),(84,4),(86,4),(98,4);
/*!40000 ALTER TABLE `preferenciaprecioactividades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferencias`
--

DROP TABLE IF EXISTS `preferencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferencias` (
  `idUsuario` int NOT NULL,
  `idCategorias` int NOT NULL,
  PRIMARY KEY (`idUsuario`,`idCategorias`),
  KEY `idUsuario_idx` (`idUsuario`),
  KEY `idCategorias_idx` (`idCategorias`),
  CONSTRAINT `idCategorias` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idUsuario4` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferencias`
--

LOCK TABLES `preferencias` WRITE;
/*!40000 ALTER TABLE `preferencias` DISABLE KEYS */;
INSERT INTO `preferencias` VALUES (18,1),(18,4),(18,5),(18,8);
/*!40000 ALTER TABLE `preferencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferenciascategoriasformulario`
--

DROP TABLE IF EXISTS `preferenciascategoriasformulario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciascategoriasformulario` (
  `idFormulario` int NOT NULL,
  `idUsuario` int NOT NULL,
  `idCategorias` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idUsuario`,`idCategorias`),
  KEY `idUsuario` (`idUsuario`),
  KEY `idCategorias` (`idCategorias`),
  CONSTRAINT `preferenciascategoriasformulario_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciascategoriasformulario_ibfk_2` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciascategoriasformulario_ibfk_3` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferenciascategoriasformulario`
--

LOCK TABLES `preferenciascategoriasformulario` WRITE;
/*!40000 ALTER TABLE `preferenciascategoriasformulario` DISABLE KEYS */;
/*!40000 ALTER TABLE `preferenciascategoriasformulario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferenciassubcategorias`
--

DROP TABLE IF EXISTS `preferenciassubcategorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciassubcategorias` (
  `idUsuario` int NOT NULL,
  `idSubCategoria` int NOT NULL,
  PRIMARY KEY (`idUsuario`,`idSubCategoria`),
  KEY `idSubCategoria` (`idSubCategoria`),
  CONSTRAINT `preferenciassubcategorias_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciassubcategorias_ibfk_2` FOREIGN KEY (`idSubCategoria`) REFERENCES `subcategorias` (`idSubCategoria`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferenciassubcategorias`
--

LOCK TABLES `preferenciassubcategorias` WRITE;
/*!40000 ALTER TABLE `preferenciassubcategorias` DISABLE KEYS */;
INSERT INTO `preferenciassubcategorias` VALUES (18,3),(18,7),(18,63),(18,64),(18,66),(18,107),(18,110),(18,116),(18,119);
/*!40000 ALTER TABLE `preferenciassubcategorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferenciassubcategoriasformulario`
--

DROP TABLE IF EXISTS `preferenciassubcategoriasformulario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciassubcategoriasformulario` (
  `idFormulario` int NOT NULL,
  `idUsuario` int NOT NULL,
  `idSubCategoria` int NOT NULL,
  PRIMARY KEY (`idFormulario`,`idUsuario`,`idSubCategoria`),
  KEY `idUsuario` (`idUsuario`),
  KEY `idSubCategoria` (`idSubCategoria`),
  CONSTRAINT `preferenciassubcategoriasformulario_ibfk_1` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciassubcategoriasformulario_ibfk_2` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `preferenciassubcategoriasformulario_ibfk_3` FOREIGN KEY (`idSubCategoria`) REFERENCES `subcategorias` (`idSubCategoria`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferenciassubcategoriasformulario`
--

LOCK TABLES `preferenciassubcategoriasformulario` WRITE;
/*!40000 ALTER TABLE `preferenciassubcategoriasformulario` DISABLE KEYS */;
/*!40000 ALTER TABLE `preferenciassubcategoriasformulario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subcategorias`
--

DROP TABLE IF EXISTS `subcategorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subcategorias` (
  `idSubCategoria` int NOT NULL AUTO_INCREMENT,
  `idCategorias` int NOT NULL,
  `nombre` text,
  `idValor` text,
  PRIMARY KEY (`idSubCategoria`,`idCategorias`),
  KEY `idCategorias` (`idCategorias`),
  CONSTRAINT `subcategorias_ibfk_1` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcategorias`
--

LOCK TABLES `subcategorias` WRITE;
/*!40000 ALTER TABLE `subcategorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `subcategorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  `Apellidos` varchar(50) NOT NULL,
  `NumCel` varchar(10) NOT NULL,
  `Pais` varchar(30) NOT NULL,
  `Biografia` longtext NOT NULL,
  `Nacimiento` date NOT NULL,
  `IMAGEN` text,
  `Genero` varchar(20) NOT NULL,
  `email` text NOT NULL,
  `password` text NOT NULL,
  `fec_creac` datetime DEFAULT NULL,
  `token` varchar(32) DEFAULT NULL,
  `verificado` tinyint(1) DEFAULT NULL,
  `token_password` varchar(32) DEFAULT NULL,
  `fec_creac_password` datetime DEFAULT NULL,
  `token_password_expiracion` datetime DEFAULT NULL,
  `token_verificacion_exp` datetime DEFAULT NULL,
  `preferencias` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-12-09  9:10:00
