-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: turismo404
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividad` (
  `idCategorias` int NOT NULL,
  `idDestino` int NOT NULL,
  `idLugar` int DEFAULT NULL,
  `nombre` longtext,
  `Hora_ini` time DEFAULT NULL,
  `Hora_fin` time DEFAULT NULL,
  `costo` decimal(10,0) DEFAULT NULL,
  PRIMARY KEY (`idCategorias`,`idDestino`),
  KEY `idDestino_idx` (`idDestino`),
  CONSTRAINT `idCategorias2` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idDestino` FOREIGN KEY (`idDestino`) REFERENCES `destino` (`idDestino`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad`
--

LOCK TABLES `actividad` WRITE;
/*!40000 ALTER TABLE `actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `idCategorias` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(90) DEFAULT NULL,
  `Imagen` longtext,
  PRIMARY KEY (`idCategorias`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `destino`
--

DROP TABLE IF EXISTS `destino`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `destino` (
  `idDestino` int NOT NULL AUTO_INCREMENT,
  `idItinerario` int NOT NULL,
  `nombreDestino` varchar(90) DEFAULT NULL,
  PRIMARY KEY (`idDestino`),
  KEY `idItinerario_idx` (`idItinerario`),
  CONSTRAINT `idItinerario` FOREIGN KEY (`idItinerario`) REFERENCES `itinerario` (`idItinerario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `destino`
--

LOCK TABLES `destino` WRITE;
/*!40000 ALTER TABLE `destino` DISABLE KEYS */;
/*!40000 ALTER TABLE `destino` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favoritos`
--

DROP TABLE IF EXISTS `favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favoritos` (
  `idFavoritos` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `idLugar` int DEFAULT NULL,
  PRIMARY KEY (`idFavoritos`),
  KEY `idUsuario_idx` (`idUsuario`),
  CONSTRAINT `idUsuario3` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favoritos`
--

LOCK TABLES `favoritos` WRITE;
/*!40000 ALTER TABLE `favoritos` DISABLE KEYS */;
/*!40000 ALTER TABLE `favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formulario`
--

DROP TABLE IF EXISTS `formulario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formulario` (
  `idFormulario` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `NoViajeros` int DEFAULT NULL,
  `lugarOrigen` longtext,
  `lugarDestino` longtext,
  PRIMARY KEY (`idFormulario`),
  KEY `idUsuario_idx` (`idUsuario`),
  CONSTRAINT `idUsuario` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formulario`
--

LOCK TABLES `formulario` WRITE;
/*!40000 ALTER TABLE `formulario` DISABLE KEYS */;
/*!40000 ALTER TABLE `formulario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial`
--

DROP TABLE IF EXISTS `historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial` (
  `idUsuario` int NOT NULL,
  `idFormulario` int NOT NULL,
  PRIMARY KEY (`idUsuario`,`idFormulario`),
  KEY `idFormulario_idx` (`idFormulario`),
  CONSTRAINT `idFormulario` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idUsuario2` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial`
--

LOCK TABLES `historial` WRITE;
/*!40000 ALTER TABLE `historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itinerario`
--

DROP TABLE IF EXISTS `itinerario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itinerario` (
  `idItinerario` int NOT NULL AUTO_INCREMENT,
  `idFormulario` int NOT NULL,
  `fecha` date DEFAULT NULL,
  PRIMARY KEY (`idItinerario`),
  KEY `idFormulario_idx` (`idFormulario`),
  CONSTRAINT `idFormulario2` FOREIGN KEY (`idFormulario`) REFERENCES `formulario` (`idFormulario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itinerario`
--

LOCK TABLES `itinerario` WRITE;
/*!40000 ALTER TABLE `itinerario` DISABLE KEYS */;
/*!40000 ALTER TABLE `itinerario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferencias`
--

DROP TABLE IF EXISTS `preferencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferencias` (
  `idUsuario` int NOT NULL,
  `idCategorias` int NOT NULL,
  `idSubCat` int DEFAULT NULL,
  `idSubSubCat` int DEFAULT NULL,
  PRIMARY KEY (`idUsuario`,`idCategorias`),
  KEY `idUsuario_idx` (`idUsuario`),
  KEY `idCategorias_idx` (`idCategorias`),
  CONSTRAINT `idCategorias` FOREIGN KEY (`idCategorias`) REFERENCES `categorias` (`idCategorias`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `idUsuario4` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferencias`
--

LOCK TABLES `preferencias` WRITE;
/*!40000 ALTER TABLE `preferencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `preferencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  `Apellidos` varchar(50) NOT NULL,
  `NumCel` varchar(10) NOT NULL,
  `Pais` varchar(30) NOT NULL,
  `Biografia` longtext NOT NULL,
  `Nacimiento` date NOT NULL,
  `IMAGEN` text,
  `Genero` varchar(20) NOT NULL,
  `email` text NOT NULL,
  `password` text NOT NULL,
  `fec_creac` datetime DEFAULT NULL,
  PRIMARY KEY (`idUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

ALTER TABLE formulario 
ADD COLUMN presupuesto DECIMAL(10, 2) not null;
ALTER TABLE formulario 
ADD COLUMN FechaIni  DATE not null;
ALTER TABLE formulario 
ADD COLUMN FechaFin DATE not null; 
ALTER TABLE usuario 
ADD COLUMN token VARCHAR(32), 
ADD COLUMN verificado TINYINT(1) DEFAULT 0;


ALTER TABLE formulario 
add column prioridadTranporte int,
add column presupuestoTranporte DECIMAL(10, 2),
add column tipoTransporte VARCHAR(32),
add column tipoCarretera VARCHAR(32);

ALTER TABLE formulario 
add column prioridadHospedaje int,
add column presupuestoHospedaje DECIMAL(10, 2),
add column distanciaHospedaje DECIMAL(10, 2);

CREATE TABLE Alojamiento (
    idAlojamiento INT AUTO_INCREMENT PRIMARY KEY,
    Tipo VARCHAR(100) NOT NULL
);


INSERT INTO Alojamiento (Tipo) VALUES ("Hotel"),
("Hostal"),
("Airbnb"),
("Casa de huespedes");

CREATE TABLE PreferenciaAlojamiento (
    idFormulario INT,
    idAlojamiento INT,
    PRIMARY KEY (idFormulario, idAlojamiento),
    FOREIGN KEY (idFormulario) REFERENCES formulario(idFormulario)
		    ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (idAlojamiento) REFERENCES alojamiento(idAlojamiento)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE establecimientosComida (
    idEstablecimiento INT AUTO_INCREMENT PRIMARY KEY,
    Tipo VARCHAR(100) NOT NULL
);


INSERT INTO establecimientosComida (Tipo) VALUES ("Restaurante"),
("Cocina económica"),
("Cadenas comerciales"),
("Comida tradicional");


CREATE TABLE PreferenciaComida (
    idFormulario INT,
    idEstablecimiento INT,
    PRIMARY KEY (idFormulario, idEstablecimiento),
    FOREIGN KEY (idFormulario) REFERENCES formulario(idFormulario)
		ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (idEstablecimiento) REFERENCES establecimientosComida(idEstablecimiento)
		ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE precioActividades (
    idprecioActividades INT AUTO_INCREMENT PRIMARY KEY,
    Tipo VARCHAR(100) NOT NULL,
    identificador VARCHAR(100) NOT NULL
);

INSERT INTO precioActividades (Tipo, identificador) VALUES ("Gratuito", "PRICE_LEVEL_FREE"),
("Economico", "PRICE_LEVEL_INEXPENSIVE"), ("Moderado", "PRICE_LEVEL_MODERATE"), ("Costoso", "PRICE_LEVEL_EXPENSIVE"), ("Muy costoso", "PRICE_LEVEL_VERY_EXPENSIVE");

CREATE TABLE PreferenciaPrecioActividades (
    idFormulario INT,
    idprecioActividades INT,
    PRIMARY KEY (idFormulario, idprecioActividades),
    FOREIGN KEY (idFormulario) REFERENCES formulario(idFormulario)
		ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (idprecioActividades) REFERENCES precioActividades(idprecioActividades)
		ON DELETE CASCADE
        ON UPDATE CASCADE
);

ALTER TABLE usuario 
ADD COLUMN token_password VARCHAR(32), 
ADD COLUMN fec_creac_password DATETIME,
ADD COLUMN token_password_expiracion DATETIME;


ALTER TABLE formulario 
ADD COLUMN preferenciaDistancia INT NULL,
ADD COLUMN prioridadActividades INT NULL,
ADD COLUMN presupuestoActividades INT NULL,
ADD COLUMN parametroActividades INT NULL;

ALTER TABLE usuario ADD COLUMN token_verificacion_exp DATETIME;
/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-10-31  9:29:00
ALTER TABLE `formulario` ADD `CoordOrigen` VARCHAR(30) NULL AFTER `IdLugarDestino`, 
ADD `CoordDestino` VARCHAR(30) NULL AFTER `CoordOrigen`;

ALTER TABLE formulario
MODIFY COLUMN CoordOrigen LONGTEXT;

ALTER TABLE formulario
MODIFY COLUMN CoordDestino LONGTEXT;

ALTER TABLE usuario
ADD preferencias VARCHAR(255) NULL;


ALTER TABLE preferencias
DROP COLUMN idSubCat;
ALTER TABLE preferencias
DROP COLUMN idSubSubCat;


/*El idValor es el que se insertará en la busqueda para la API*/


/*tabla de subcategorias*/
CREATE TABLE subCategorias (
    idSubCategoria INT NOT NULL AUTO_INCREMENT,
    idCategorias INT NOT NULL,
    nombre TEXT NULL,
    idValor TEXT NULL,
    PRIMARY KEY (idSubCategoria, idCategorias),
    FOREIGN KEY (idCategorias) REFERENCES categorias(idCategorias)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);



/*INSERTAR REGISTROS DE CATEGORIAS:*/
INSERT INTO categorias (Nombre) VALUES 
("Cultura"), ("Educación"), ("Ocio y Entretenimiento"),
("Elementos naturales"), ("Lugares de Culto"), ("Servicios"),
("Compras"), ("Deportes");

/*Insertar regitsros de subcategorias*/
/*Cultura*/
INSERT INTO subCategorias (idCategorias, nombre, idValor) VALUES
(1, "Galerías de Arte", "art_gallery"),
(1, "Estudios Artísticos", "art_studio"),
(1, "Auditorio", "auditorium"),
(1, "Lugares Emblemáticos", "cultural_landmark"),
(1, "Sitios Históricos", "historical_place"),
(1, "Teatro de Artes Escénicas", "performing_arts_theater"),
(1, "Monumentos", "monument"),
(1, "Museos", "museum"),
(1, "Escultura", "sculpture");

/*Educacion*/
INSERT INTO subCategorias (idCategorias, nombre, idValor) VALUES
(2, "Bibliotecas", "library");


/*Ocio y entretenimineto*/


/*Elementos naturales*/

/*Lugares de culto*/

/*Servicios*/

/*Compras*/



/*Deportes*/

/*Tabla en la que se almacenan las prefernecias de las subcategorías de un usuario*/
CREATE TABLE preferenciasSubCategorias(
    idUsuario INT NOT NULL,
    idSubCategoria INT NOT NULL,
    PRIMARY KEY (idUsuario, idSubCategoria),
    FOREIGN KEY (idUsuario) REFERENCES usuario(idUsuario)
		ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (idSubCategoria) REFERENCES subCategorias(idSubCategoria)
		ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE resultados_comida (
  idResultado int(11) NOT NULL,
  idFormulario int(11) NOT NULL,
  nombre varchar(255) NOT NULL,
  direccion varchar(255) DEFAULT NULL,
  precio varchar(50) DEFAULT NULL,
  valoracion float DEFAULT NULL,
  descripcion text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
se edebe agregar esa tabla a la BD


ALTER TABLE destino RENAME COLUMN nombreDestino TO idLugarDestino;
ALTER TABLE destino MODIFY idLugarDestino LONGTEXT;


INSERT INTO establecimientoscomida (idEstablecimiento, Tipo) VALUES
(5, 'Vegan_restaurant');


ALTER TABLE formulario
MODIFY COLUMN presupuesto decimal(10, 2) NULL;
ALTER TABLE formulario
MODIFY COLUMN FechaFin DATE NULL;
ALTER TABLE formulario
MODIFY COLUMN FechaIni DATE NULL;